<% if @book.errors.any? %>
  <p><%= @book.errors.count %>errors prohibit this book from being saved:</p>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>